<!-- include head.ejs here -->
<%- include("head"); -%>
  <body>

<!-- include navbars.ejs here -->
<%- include("navbars", {user: user, active: "dashboard"}); -%>

<!-- Main Contents -->
<main>
  <div class="container">
    <!-- First row -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
          <div class="">
            <div id="grid-section1" class="section scrollspy">
              <h1 class="header">Section 1</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>

        <div class="col hide-on-small-only m2">
          <div class="toc" style="margin-top:100px;margin-left:30px">
            <p>Table of Contents</p>
            <ul class="section table-of-contents">
              <li><a href="#grid-section1">Section 1</a></li>
              <li><a href="#grid-section2">Section 2</a></li>
              <li><a href="#grid-section3">Section 3</a></li>
              <li><a href="#grid-section4">Section 4</a></li>
              <li><a href="#grid-section5">Section 5</a></li>
            </ul>
          </div>
        </div>
    </div>

    <!-- Second Row -->
    <div class="row">
      <div class="col s12 m4 offset-m2">
        <div class="">
          <div id="grid-section2" class="section scrollspy">
            <h1 class="header">Section 2.1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="">
          <div id="grid-section2" class="section scrollspy">
            <h1 class="header">Section 2.2</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Third Row -->
    <div class="row">
      <div class="col s12 m4 offset-m2">
        <div class="">
          <div id="grid-section3" class="section scrollspy">
            <h1 class="header">Section 3</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Fourth Row -->
    <div class="row">
      <div class="col s12 m4 offset-m2">
        <div class="">
          <div id="grid-section4" class="section scrollspy">
            <h1 class="header">Section 4</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Fifth Row -->
    <div class="row">
      <div class="col s12 m4 offset-m2">
        <div class="">
          <div id="grid-section5" class="section scrollspy">
            <h1 class="header">Section 5</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- include footer.ejs here -->
<%- include("footer"); -%>
