<header>
  <!-- Top Navigation -->
  <nav class="top-nav" role="navigation">
    <div class="container">
      <div class="nav-wrapper">
        <div class="row">
          <div class="col s12 m10 offset-m2 offset-s2">
            <h1 class="header"><%= headerTitle %></h1>
          </div>
        </div>

      </div>
    </div>
  </nav>

  <div class="container">
    <a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only">
      <i class="material-icons">menu</i>
    </a>
  </div>

  <ul id="nav-mobile" class="sidenav sidenav-fixed collapsible">
      <li class="logo"><img src="images/pers.png" alt="" class="persImage"></li>

      <li
      <% if(active === "dashboard"){ %>
        class="active"
      <%}%>>
        <a href="dashboard" >
        <i class="material-icons" style="color:#C7171D">dashboard</i>
        Dashboard
      </a>
    </li>

      <li
      <% if(active === "pending"){ %>
        class="active"
      <%}%>>
        <a href="pending-approvals">
          <i class="material-icons" style="color:#ffab00">verified_user</i>
          Pending Approvals
        </a>
      </li>

      <li>
        <div class="collapsible-header">
          <i class="material-icons" style="color:#0277bd">build</i>
          <a href="#" class="collapsibleAnchor">
            Maintenance
          </a>
        </div>
        <div class="collapsible-body">
          <a href="#" class="collapsibleAnchor collapsibleAnchorBody">Advertisements</a>
          <a href="#" class="collapsibleAnchor collapsibleAnchorBody">Business Area</a>
          <a href="#" class="collapsibleAnchor collapsibleAnchorBody">Business Area Level</a>
          <a href="#" class="collapsibleAnchor collapsibleAnchorBody">Measuring Unit</a>
          <a href="#" class="collapsibleAnchor collapsibleAnchorBody">Merchandising Location</a>
          <a href="#" class="collapsibleAnchor collapsibleAnchorBody">Partners</a>
          <a href="#" class="collapsibleAnchor collapsibleAnchorBody">Request Subject</a>
          <a href="#" class="collapsibleAnchor collapsibleAnchorBody">Scope of Work</a>
        </div>
      </li>

      <li>
        <a href="#">
          <i class="material-icons" style="color:#81c784">visibility</i>
          Access Control
        </a>
      </li>

        <li>
          <div class="collapsible-header">
            <i class="material-icons">list_alt</i>
            <a href="#" class="collapsibleAnchor">
              Reports
            </a>
          </div>
          <div class="collapsible-body">
            <a href="#" class="collapsibleAnchor collapsibleAnchorBody">Frequency</a>
            <a href="#" class="collapsibleAnchor collapsibleAnchorBody">List of Partners</a>
          </div>
        </li>

      <!-- Account Dropdown -->
      <li>
        <a class="account-dropdown" data-target="account-content" href="#">
          <i class="material-icons" style="color:#607d8b">account_circle</i>
          <%= user %>
        </a>
      </li>

      <!-- <li><a href="#">Components</a></li>
      <li><a href="#">Components</a></li>
      <li><a href="#">Components</a></li>
      <li><a href="#">Components</a></li>
      <li><a href="#">Components</a></li>
      <li><a href="#">Components</a></li> -->

  </ul>

<!-- Account Dropdown Content -->
  <ul id="account-content" class="dropdown-content">
    <li><a href="#">Manage Account</a></li>
    <li><a href="#">Log out</a></li>
  </ul>
</header>
